body {
  font-family: Arial;
  background: #f0f0f0;
  padding: 40px;
}

.card {
  padding: 20px;
  background: white;
  width: 500px;
  margin: auto;
  border-radius: 10px;
}

textarea {
  width: 100%;
  height: 120px;
  margin: 10px 0;
  padding: 10px;
}

button {
  padding: 10px;
  width: 120px;
  cursor: pointer;
}
